#* Multer
# server
/Multer/server/node_modules
/Multer/server/.pnp
/Multer/server/.pnp.js
/Multer/server/.env

# client
/Multer/client/node_modules
/Multer/client/.pnp
/Multer/client/.pnp.js
/Multer/client/.env

# uploads
/Multer/server/public/upload

# testing
/Multer/client/coverage

# production
/Multer/client/build
/Multer/server/build

# misc
/Multer/client/.DS_Store
/Multer/client/.env.local
/Multer/client/.env.development.local
/Multer/client/.env.test.local
/Multer/client/.env.production.local

/Multer/client/npm-debug.log*
/Multer/client/yarn-debug.log*
/Multer/client/yarn-error.log*

#* Socket.io
# server
/Socket.io/server/node_modules
/Socket.io/server/.pnp
/Socket.io/server/.pnp.js
/Socket.io/server/.env

# uploads
/Socket.io/server/public/upload

# client
/Socket.io/client/node_modules
/Socket.io/client/.pnp
/Socket.io/client/.pnp.js
/Socket.io/client/.env

# testing
/Socket.io/client/coverage

# production
/Socket.io/client/build
/Socket.io/server/build

# misc
/Socket.io/client/.DS_Store
/Socket.io/client/.env.local
/Socket.io/client/.env.development.local
/Socket.io/client/.env.test.local
/Socket.io/client/.env.production.local

/Socket.io/client/npm-debug.log*
/Socket.io/client/yarn-debug.log*
/Socket.io/client/yarn-error.log*